ac-comphist.dat
anything-c-adaptive-history
auto-install
tramp
*.elc
lisp/auto-install/*
lisp/*.el
lisp/apel-10.8
lisp/howm-1.4.0rc2
lisp/php-mode-1.5.0
lisp/auto-complete
lisp/color-theme-6.6.0/
lisp/ecb-2.40/
lisp/jde-2.3.5.1/
lisp/jdee-2.4.0.1/
lisp/linger/
lisp/rhtml/
lisp/auto-complete
lisp/cedet-1.0
lisp/semantic.cache

games
.DS_Store
auto-save-list
elpa/
