[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "lisp/emoji"]
	path = lisp/emoji
	url = http://github.com/imakado/emoji.git
[submodule "lisp/twittering-mode"]
	path = lisp/twittering-mode
	url = http://github.com/hayamiz/twittering-mode.git
[submodule "lisp/org-mode"]
	path = lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "lisp/rhtml-mode"]
	path = lisp/rhtml-mode
	url = http://github.com/eschulte/rhtml.git
[submodule "lisp/jump"]
	path = lisp/jump
	url = http://github.com/eschulte/jump.el.git
[submodule "lisp/rinari"]
	path = lisp/rinari
	url = http://github.com/eschulte/rinari.git
[submodule "lisp/rvm"]
	path = lisp/rvm
	url = http://github.com/senny/rvm.el.git
[submodule "lisp/Goby"]
	path = lisp/Goby
	url = http://github.com/kazu-yamamoto/Goby.git
[submodule "lisp/magit"]
	path = lisp/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "lisp/navi2ch"]
	path = lisp/navi2ch
	url = git://navi2ch.git.sourceforge.net/gitroot/navi2ch/navi2ch
[submodule "lisp/nyan-mode"]
	path = lisp/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "lisp/color-theme-tangotango"]
	path = lisp/color-theme-tangotango
	url = https://github.com/juba/color-theme-tangotango.git
[submodule "lisp/calfw"]
	path = lisp/calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "lisp/mew"]
	path = lisp/mew
	url = git://github.com/kazu-yamamoto/Mew.git
[submodule "lisp/emacs-window-manager"]
	path = lisp/emacs-window-manager
	url = https://github.com/kiwanami/emacs-window-manager.git
[submodule "lisp/emacs-window-layout"]
	path = lisp/emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout.git
[submodule "lisp/emacs-deferred"]
	path = lisp/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "lisp/emacs-inertial-scroll"]
	path = lisp/emacs-inertial-scroll
	url = https://github.com/kiwanami/emacs-inertial-scroll.git
[submodule "lisp/html-fold"]
	path = lisp/html-fold
	url = https://github.com/ataka/html-fold.git
[submodule "lisp/auto-complete-etags"]
	path = lisp/auto-complete-etags
	url = https://github.com/whitypig/auto-complete-etags.git
[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lisp/emacs-flymake"]
	path = lisp/emacs-flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule "lisp/riece"]
	path = lisp/riece
	url = git://git.savannah.nongnu.org/riece.git
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "lisp/popup"]
	path = lisp/popup
	url = https://github.com/m2ym/popup-el.git
