ac-comphist.dat
anything-c-adaptive-history
tramp
*.elc

######################################################################
# 基本的に package でインストールしたいが、そうはいかないものについては
# auto-install で lisp/autoinstall 下にインストールする。
# ignore していない（管理対象にしている）ファイルは既に一時配布元がクローズして
# いるなどの理由で、手元にとっておかないと詰むやつ
######################################################################
lisp/auto-install/*
lisp/*.el
lisp/emacs-inertial-scroll/
lisp/html-fold/

# mew が使う mew-w3m.el がこの中にあるので、消しちゃだめ
lisp/emacs-w3m-*

games
.DS_Store
auto-save-list
elpa/
twittering-mode.gpg
url/
transient/
el-get/

# for clojure
.smex-items
places

eshell
recentf

network-security.data
kkcrc
history
